@media screen and (min-width: 420px) and (max-width: 600px){
    #container {
        height: 70%;
        width: 80vw;
        
    }
    #age-data{
        margin: 0%;
        justify-content: space-evenly;
        
    }
    
    input {
        font-size: 18px;
        height: 2.5rem;
        width: 4.6rem;
        
    }
    #results {
        
        margin-top: 0.4rem;
        margin-left: 1.3rem;
        margin-right: 1.3rem;
    }
    hr {
        z-index: 0;
        position: absolute;
        width: 68%;
        
        
    }
    #btn-seta{
        position: relative;
        z-index: 1;
        left: 36.5%;
        height: 4rem;
        width: 4rem;
        
        
    }
    #data-feedback{
        height: 50vh;
        padding-left: 0%;
        align-content: space-around;
    }
    #data-feedback p{
        
        height: 60px;
        font-size: 3rem;
        
    }
}
@media screen and (max-width: 420px){
    #container {
        height: 70%;
        width: 80vw;
        
    }
    #age-data {
        justify-content: space-evenly;
        margin: 0%;
    
        
    }
    input {
        font-size: 18px;
    
        height: 2rem;
        width: 3.7rem;
        padding: 5px;
        margin-top: 0.2rem;
    }

    #results {
       display: block;
       margin: 0%;
      
    }
    hr {
        margin-top: 2rem;
        z-index: 0;
        position: absolute;
        width: 75%;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        
    }
    #btn-seta{
        position: relative;
        z-index: 11;
        top: 40%;
        left: 36.5%;
        height: 4rem;
        width: 4rem;
        
    }
    #data-feedback{
        height: 300px;
        padding-left: 0;
        align-content: center;
        
    }
    #data-feedback p{
        
        height: 60px;
        font-size: 2.5rem;
        
    }

}

