@media screen and (max-width: 420px){
    #container {
        
        width: 17rem;
        
    }
    #age-data {
        height: 10%;
        
    
        padding: 2.6rem  0rem  2rem 1.5rem;
    }
    input {
        font-family: 'Poppins', sans-serif;
        font-weight: 800;
        font-size: 18px;
    
        height: 2rem;
        width: 3.7rem;
        padding: 5px;
        margin-top: 0.2rem;
    }
    #results {
        /* display: block; */
        margin-top: 0.4rem;
        margin-left: 1.5rem;
    }
    hr {
        z-index: 0;
        position: absolute;
        width: 14rem;
        margin-right: 2rem;
        
    }
    #btn-seta{
        position: relative;
        z-index: 11;
        /* margin: auto; */
        margin: auto;

        height: 55px;
        width: 55px;
        
    }
    #data-feedback{
        height: 300px;
        padding-left: 0;
        align-content: center;
        margin-top: 2rem;
    }
    #data-feedback p{
        
        height: 60px;
        font-size: 2.7rem;
        
    }

}
@media screen and (min-width: 420px) and (max-width: 600px){
    #container {
        height: 70%;
        width: 80vw;
        
    }
    #age-data{
        justify-content: center;
        padding: 2rem;
    }
    

    input {
        font-family: 'Poppins', sans-serif;
        font-weight: 800;
        font-size: 18px;
    
        height: 2.5rem;
        width: 4.6rem;
        
    }
    #results {
        
        margin-top: 0.4rem;
        margin-left: 1.5rem;
    }
    hr {
        z-index: 0;
        position: absolute;
        width: 70vw;
        
        
    }
    #btn-seta{
        position: relative;
        z-index: 11;
        margin: auto;

        
        
    }
    #data-feedback{
        height: 50vh;
        padding-left: 0%;
        align-content: space-around;
        margin-top: 1.5rem;
    
    }
    #data-feedback p{
        
        height: 60px;
        font-size: 3rem;
        
    }
}
